@import "./styling/components.scss";
@import "./styling/loader.scss";
@import "./styling/mixin.scss";

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-phone {
    font-size: 42.5%;
  }

  @include respond-phonesmall {
    font-size: 32.5%;
  }
}

:root {
  --color-primary: #2b7a78;
  --color-primary-light: #3aafa9;
  --color-grey-1: #333;
  --color-grey-2: #777;
  --color-grey-3: #999;
  --color-white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-white);
  position: relative;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
